<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:security="http://www.springframework.org/schema/security"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd http://www.springframework.org/schema/security http://www.springframework.org/schema/security/spring-security.xsd">
    <!--所有的url必须以/开头，否则启动报错-->
    <!--
    静态资源过滤:
        1.pattern属性指定页面地址
        2.security属性设置为none表示不过滤该页面，放行，或者说式匿名访问
    -->
    <security:http pattern="/login.html" security="none"/>
    <security:http pattern="/fail.html" security="none"/>
    <!--
    配置拦截规则：
        1.auto-config属性，加载这配置文件时，就是用来做登录处理 和 自动装载内置的过滤器，总共12种，这些都是用户过滤登录页面等等...
        2.use-expressions属性，如果为true时就是标定访问资源是否使用表达式 hasAny... hasAut... hasRole
                           如果为false就是使用角色来做访问控制
                           这个跟access的值有关
                           如果这个属性的值为false，那么access的值就必须是以ROLE开头，否则启动加载这个配置文件的时候就会报错
-->
    <security:http auto-config="true" use-expressions="false">
        <!--拦截的url, pattern属性配置/**那就是拦截所有-->
        <security:intercept-url pattern="/**" access="ROLE_ADMIN"/>
        <!--
        指定登录页面：
            1.login-page属性：
                用于指定登录页面
            2.username-parameters属性：
                用于指定提交过来的用户名的参数名
            3.password-parameter属性：
                用于指定提交过来的密码的参数名
            4.login-processing-url属性：
                用于指定登录页面的请求路径
            5.authentication-failure-url属性：
                用于指定登录失败后重定向到失败页面的路径（前提是这个路径必须加入到静态资源过滤，否则访问会被拦截）
            6.default-target-url属性：
                用于指定登录成功后到上一个页面
                你从哪个页面过来的，登录成功后就回到哪个页面去
                (前提是always-use-default-target属性为true)
            7.always-use-default-target属性：
                如果为false：登录成功后，从哪个页面过来登录的，就回到哪个页面去
                如果为true：登录成功后，不管你是从哪个页面过来的，都会回到default-target-url属性配置的页面去
        -->
        <security:form-login login-page="/login.html"
                             username-parameter="aaa"
                             password-parameter="bbb"
                             login-processing-url="/login"
                             authentication-failure-url="/fail.html"
                             default-target-url="/index.html"
                             always-use-default-target="true"
        />
        <!--关闭跨域访问限制-->
        <security:csrf disabled="true"/>
    </security:http>

    <!--
    认证管理器：
        是用于提供用户认证信息的
    -->
    <security:authentication-manager>
        <!--
        authentication-provider相当于一个供应商：
            用来提供认证用户的信息的，就是登录用户的信息
            这里面包含了 用户名、密码、权限集合
        -->
        <!--
        user-service-ref属性：
            1.ref一般都是引入bean对象
        -->
        <security:authentication-provider user-service-ref="userService">
        </security:authentication-provider>
    </security:authentication-manager>

    <bean id="userService" class="com.itheima.security.UserService"/>
</beans>